%h3 Weekly Schedule
- nights.each do |night|
  .karaoke-night
    %span.day_of_week= night.day_string
    %span.hours= "#{night.start_time}&nbsp;&mdash;&nbsp;#{night.end_time}" 
    %ul
      %li.venue= night.venue
      %li.map= link_to('Google Map', night.map_url, :target => '_blank')
      %li.street= night.street
      %li.phone= night.phone




