#intro
  %h2#intro Experienced and professional
  %p
    %span#ellipsis Engaging, memorable, exciting.
    These are just a few of the elements that must come together to make an event
    to remember.
  %p
    Whether it's a tasteful celebration of a new union, a rocking party
    in need of an MC, or a karaoke night at the nearby bar, Dj Darby has the 
    skills to make it happen.
#graphic-box
  = image_tag 'mirrorball.jpg', :id => 'mirrorball'
  %blockquote#endorsement
    %hr
    = HomeController::ENDORSEMENT
    %span#endorser= HomeController::ENDORSER
    %hr
  #next-karaoke
    %span Next Karaoke Night:
    = next_karaoke_night
#services
  .brief
    %h3 Fun, yet elegant
    %p
      A huge music selection, high quality equipment, and 
      years of experience make Dj Darby <strong>the</strong> choice to smoothly
      usher in your new union!
    %p
      His flexible rates and tiered package structure mean he can work with your needs.
      = link_to 'Learn more.', receptions_path
  %p#in-touch= link_to('Get in touch!', contact_path)
  .brief
    %h3 Rock the night away
    %p
      Check out his karaoke nights at several Columbus area bars Monday through Thursday of every week.
    %p
      Also available for private parties.
      = link_to 'Learn more.', karaoke_path
%br.clear
